.btn{
    width: 160px;
    height: 45px;
    background-color: aqua;
    border: solid black 0.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.btn:hover{
    width: 165px;
    height: 45px;
    background-color: rgb(16, 145, 145);
    cursor: pointer;
}

.btn-text{
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}